{% extends "Capstone/layout.html" %}
{% load static %}
{% block title %}Cronómetro de Estudio{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>Cronómetro de Estudio</h1>
    <div id="timer">
        <span id="minutes">25</span>:<span id="seconds">00</span>
    </div>
    <div>
        <label for="studyTime">Tiempo de estudio:</label>
        <input placeholder="Minutos" type="number" id="studyTime" min="0" max="59">
        <input placeholder="Segundos" type="number" id="studyTimeSeconds" min="0" max="59">
    </div>
    <div>
        <label for="breakTime">Tiempo de descanso:</label>
        <input placeholder="Minutos" type="number" id="breakTime" min="0" max="59">
        <input placeholder="Segundos" type="number" id="breakTimeSeconds" min="0" max="59">
    </div>
    <div>
        <label for="cycles">Ciclos:</label>
        <input placeholder="Veces a repetir" type="number" id="cycles" min="1"max="10">
    </div>
    <button id="startTimer">Comenzar</button>
    <button id="pauseTimer" style="display: none;">Pausar</button>
    <button id="resetTimer" style="display: none;">Reiniciar</button>
</div>
<script>
    const studyEndSoundPath = "{% static 'sounds/study_end.mp3' %}";
    const breakEndSoundPath = "{% static 'sounds/break_end.mp3' %}";
</script>
<script src="{% static 'js/clock.js' %}"></script>
{% endblock %}