{% extends "Capstone/layout.html" %}

{% block body %}
<div class="container mt-4">
    <h2>Generar Test</h2>
    <p>Selecciona un archivo para generar preguntas de estudio:</p>
    {% if user_files %}
    <form style="display:block;" method="get" action="{% url 'generate-test' %}">
        <label for="file">Selecciona un archivo:</label>
        <select name="file_id" id="file">
            {% for file in user_files %}
                <option value="{{ file.id }}">{{ file.name }}</option>
            {% endfor %}
        </select>
    
        <label for="num_questions">Número de preguntas:</label>
        <input type="number" name="num_questions" id="num_questions" min="5" max="20" value="5">
    
        <button type="submit">Generar Test</button>
    </form>
    {% else %}
        <li>No tienes test creados todavía.</li>
    {% endif %}
</div>
{% endblock %}