body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Post Styles */
.new-post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-post textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    resize: none;
}

.new-post button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h4 {
    margin: 0 0 10px 0;
}

.post p {
    margin: 5px 0;
}

.post .content {
    margin-bottom: -5px;
    margin-top: 5px;
}

.post .timestamp {
    color: grey;
    font-size: 0.8em;
    margin: 5px 0;
}

.post .like-count {
    margin: 0 auto;
    margin-bottom: 5px;
}

.post .comments .h6{
    color: grey;
    font-size: 0.8em;
}

.post .comments .comment {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.post .like-button, .comments button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Edit Post Styles */

.edit-button {
    border: none;
    background-color: transparent;
    color: #007bff;
    margin-left: -5px;
}

.edit-button:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Pagination Styles */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.pagination a:hover {
    text-decoration: underline;
}