{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    <div class="listings">
        {% for listing in listings %}
            {% if listing.active %}
                <a href="{% url 'listing' listing.id %}">
                    <div class="listing">
                        {% if listing.image_url %}
                            <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
                        {% endif %}
                        <div class="listing-texto">
                            <h3><strong>{{ listing.title }}</strong></h3>
                            <p>
                                <strong>
                                    Original Price : {{ listing.starting_bid }}
                                </strong>
                            </p>
                            <p>
                                <strong>
                                    {% if listing.current_bid %}
                                        Current Bid: ${{ listing.current_bid }}
                                    {% endif %}
                                </strong>
                            </p>
                            {% if listing.description %}
                                <p>{{ listing.description }}</p>
                            {% endif %}
                            <p>Created {{ listing.created_at }}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <p>No active listings.</p>
            {% endif %}
        {% endfor %}
    </div>
    
    {% if not listings %}
        <p>No active listings.</p>
    {% endif %}

{% endblock %}